#footer
  .container#footer-main
    
    .copywrite
      © 2013 山西EOS摄影俱乐部  太原天易文化传媒有限公司
    
= render 'shared/google_analytics'

:javascript
  window.rabel.search_engine_url = "#{search_engine_url}";
  jQuery(function($) {
    #{yield :template_js}
  });

:javascript
  #{Siteconf.custom_js.html_safe}
