<div class="showmain">
	<h1>1234567890美版《老男孩》海报再现经典场景 布洛林手书片名Helvetica-Neue-Thin The Quick Brown Fox jumps over the Lazy Dog 
	</h1>
	<h2>来源：网络收集&nbsp;&nbsp;作者：admin&nbsp;&nbsp;发表时间：2011-08-15 星期一</h2>
	<div class="info">
		<p style="text-align:center;"><%= image_tag "demo/15.jpg"%></p>
		<p> 新华社专电南希·韦克（见右图），第二次世界大战期间传奇女间谍、反法西斯女英雄、纳粹眼中无法察觉的"白鼠"、"盖世太保"抓捕对象，７日在伦敦一家医院辞世，享年98岁。
	她出生新西兰，在澳大利亚长大，护士出身，后转赴欧洲投身新闻，1939年嫁给一名法国商人。纳粹入侵法国后，这位黑发女子接受了法国反纳粹组织的特别训练，成为一名间谍，为自由法国（抵抗）组织同盟搜集情报。由于自己人的叛变，盖世太保得知韦克其人，史册"。<br />
	Helvetica-Neue-Thin The Quick Brown Fox jumps over the Lazy Dog 
	1234567890
	</p>
	</div>
</div>